body {
	margin: 0;
	font-family: Roboto, Arial, sans-serif;
}

/* ---- ---- nav styles ---- ---- */
nav {
	height: 60px;
	line-height: 60px;
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: #632e99;
}

.nav-container {
	width: 1080px;
	display: flex;
	justify-content: space-between;
}

.nav-container ul {
	list-style-type: none;
	margin: 0;
}

.nav-container a {
	text-decoration: none;
	color: white;
}

.nav-container a:hover {
	text-decoration: underline;
	color: red;
}

.logo img {
	height: 30px;
	padding: 15px 0;
}

/* ---- ---- main content styles ---- ---- */

main {
	display: flex;
	justify-content: center;
	min-height: calc(100vh - 120px);
}

.main-container {
	width: 1080px;
}

/* ---- ---- footer styles ---- ---- */

footer {
	background-color: gainsboro;
	height: 60px;
	line-height: 60px;
	text-align: center;
}

footer p {
	margin: 0;
}